body.dark .checkbox-custom:before {
    background: #0D2943 url("../img/check.png");
}
body.light .checkbox-custom:before {
    background: #154470 url("../img/check.png");
}

body.light .checkbox-custom:disabled:before {
    background: lightgrey url("../img/check.png");
}
body.dark .checkbox-custom:disabled:before {
    background: lightgrey url("../img/check.png");