* {
    box-sizing: border-box;
}

@font-face {
    font-family: "InterLight";
    src: url("../fonts/Inter-Light.woff") format("woff");
   }
@font-face {
    font-family: "InterRegular";
    src: url("../fonts/Inter-Regular.woff") format("woff");
   }
@font-face {
    font-family: "InterMedium";
    src: url("../fonts/Inter-Medium.woff") format("woff");
   }


html, body {
    font-size: 14px;
    height: 100%;
}

body {
    margin: 0;
    line-height: 1.4;
    letter-spacing: 0.2;
    font-family: "InterRegular",sans-serif;
    color: #0D2943;
}

/* header */
.header{
    position: absolute;
    display:flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px 20px;
    height: 50px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
    top:0;right: 0;left: 0;
    border-top: 1px solid #B6D4EF;
    background-color: white;
}

.header-left{
    display:flex;
    align-items: center;
}

.header-left .header-title{
    margin-right: 30px;
    font-size: 22px;
    font-family: "InterLight", sans-serif;
}

.header-left .header-menu-grow-button{
    cursor: pointer;
}

.header-menu{
    display: flex;
    align-items: center;
}

.header-menu .header-menu-content {
    margin-left: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.header-menu .header-menu-content:hover, .header-menu .header-menu-portal:hover {
    color: #0D2943;
    text-decoration: underline;
}

.header-menu #header-menu-profil{
    position: absolute;
    top: 35px;
    right: 5px;
    width: 300px;
    word-wrap: break-word;
    z-index: 1;
}

.header-menu .header-menu-profilPicture {
    width: 35px;
    height: 35px;
    margin-left: 15px;
    border-radius: 30px;
}



.header-menu .header-menu-portal {
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 15px;
    border-right: 1px solid rgba(0,0,0,0.25);
}

.header a{
    color: #154470;
    text-decoration: none;
}

/* main */
.main {
    padding-top: 50px;
    display: flex;
    align-items: stretch;
    min-height: 100%;
    background-color: #F6FBFF;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #B6D4EF;
    transition: all 300ms ease-out;
    overflow-x: hidden;
    padding: 5px 0;
    box-shadow: inset -1px 0px 3px rgba(0,0,0,0.25);
    font-size: 15px;
}

.sidebar-minimized {
    width: 55px;
}

.sidebar-invisible {
    width: 1px;
    border-left: 1px solid #F6FBFF;
}

.sidebar .sidebar-row{
    width: 250px;
}

.sidebar .sidebar-row-nb2{
    display: flex;
    margin-bottom: 20px;
    cursor: pointer;
}

.sidebar .sidebar-row-nb2 .sidebar-item:first-child{
    border-right: 1px solid rgb(166, 195, 223);
    flex-grow: 4;
}

.sidebar .sidebar-row-nb2 .sidebar-item:last-child{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    opacity: 0.5;
}

.sidebar .sidebar-row-nb2 .sidebar-item:last-child.active{
    opacity: 1;
}

.sidebar .sidebar-row-nb2 .active, .sidebar .sidebar-row-nb2 .sidebar-item:last-child:hover {
    background-color: transparent !important;
}

.sidebar .sidebar-row a{
    color: #0D2943;
    text-decoration: none;
}

.sidebar .sidebar-item {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 20px;
    transition: all 300ms ease-out;
}

.sidebar .sidebar-item-minimized {
    padding-left: 20px !important;
}

.sidebar .sidebar-item:hover, .sidebar .sidebar-item.active {
    background-color: #8BBDEB;
}

.sidebar .sidebar-item-icon {
    flex-grow: 0;
    margin-right: 25px;
    color: #154470;
}

.sidebar .sidebar-item-text {
    flex-grow: 0;
    max-width: 125px;
    word-break: break-all;
}

.sidebar .sidebar-item-expend {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}

.sidebar .sidebar-subbed{
    box-shadow: inset 0px 5px 3px -5px rgba(0,0,0,0.25), inset 0px -5px 3px -5px rgba(0,0,0,0.25);
    padding: 10px 0;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255, 0.35);
    transition: all 300ms ease-out;
}

.sidebar .sidebar-subbed>.sidebar-item{
    padding-left: 35px;
}

.sidebar .sidebar-subbed .sidebar-subbed>.sidebar-item{
    padding-left: 60px;
}

/* content */
.content{
    padding: 10px 10px 50px 10px;
    flex: 1 1;
    max-width: 95%;
    margin: 0 auto;
}

/* box */

.box-row{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.box-container{
    padding: 15px;
    width: 100%;
    text-decoration: none;
}

.box-row-highlight .box-container:hover {
    padding: 5px;
}

.box-row-highlight .box-container:hover .box-body{
    padding: 10px 20px;
}

.box-row .box {
    height: 100%;
}

.box{
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
    background-color: white;
    border-radius: 6px;
    color: #425668;
    word-wrap: break-word;
}

.box-header{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 4px solid transparent;
    box-shadow: 0px 5px 3px -5px rgba(0,0,0,0.25);
}

.box-header.icon-img img{
    opacity: 0.65;
}

.box-header.crop-img{
    width:100%;
    max-height: 300px;
    overflow: hidden;
    line-height:300px;/* set the baseline at 100px from top*/
}

.box-header.crop-img img {
    margin: -50% auto;/* virtualy height needed turn don to zero */
    width: 100%;/* height will follow within image ratio */
    height:auto;/* to overrride attribute height set in tag */
    vertical-align:middle;/* finalise vertical centering on baseline*/
}

.box-header.icon-img{
    padding:10px;
    width: 100%;
}

.box-header.icon-img img{
    width: 100%;
}

.box-body{
    padding: 10px;
}

.box-title, .box-title-big{
    font-size:24px;
    margin-bottom: 20px;
    color: #154470;
}

.box-title-medium{
    font-size:18px;
    margin-bottom: 5px;
    font-family: "InterLight", sans-serif;
    color: #154470;
}

/* footer */
.footer{
    background-color: white;
    font-size: 12px;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    -webkit-box-shadow: 0px -1px 3px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px -1px 3px rgba(0,0,0,0.25);
    box-shadow: 0px -1px 3px rgba(0,0,0,0.25);
}

/* media queries */

@media screen and (max-width: 640px){
    .header-menu .header-menu-image {
        margin-left: 15px;
        border: none;
    }

    .header{
        flex-direction: column;
        justify-content: start;
        height: 100px;
        justify-content: center;

    }

    .header-left{
        justify-content: space-between;
    }

    .header-left .header-title{
        font-size: 24px;
    }

    .header-left .header-grow-button {
        padding: 0 5px;
    }

    .header-menu{
        flex-grow: 0;        
    }

    .header-menu .header-menu-portal{
        flex-grow: 1;
        border: none;
    }

    .main{
        flex-direction: column;
        padding-top: 100px;

    }

    .sidebar{
        width: 100%;
        overflow: initial;
        transition:none;
    }

    .sidebar-invisible {
        border-left: none;
    }

    .sidebar .sidebar-row,.sidebar .sidebar-grow{
        width: 100%;
    }

    .sidebar .sidebar-item {
        transition: none;
    }

    *[class*='box-container-size-']{
        width:100% !important;
    }

    .s-zero{
        height: 0;
    }

    .sidebar-minimized {
        padding: 0;
        height: 40px;
    }

    .sidebar-transition{
        transition: none;
    }

    .sidebar .sidebar-item-text-transition{
        transition: none;
    }
}

/* Tabs */

.tabs-container{
    width: 100%;
    color: #425668;
}
.tabs-header{
    font-size: 16px;
}
.tab-title{
    padding-bottom: 5px;
    display: inline-block;
    margin-right: 10px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.tab-title.active, .tab-title:hover {
    border-bottom: 2px solid #154470;
    color: #154470;
}

.tabs-body{
    border-top: 1px solid rgb(175, 175, 175);
    padding-top: 15px;
    margin-top: -1px;
}
.tab-content{
}

                                    
                                
                            

/* Tool */

.dp-none{
    display: none !important;
}
.box-container-size-2{
    width: calc(2 * (100% / 12));
}
.box-container-size-3{
    width: calc(3 * (100% / 12));
}
.box-container-size-4{
    width: calc(4 * (100% / 12));
}
.box-container-size-6{
    width: calc(6 * (100% / 12));
}
.text-align-right{
    text-align: right;
}

/* Tags */

.tags{
    list-style:none;
    padding:0;
    margin: 0;
	}	
.tags li{
    display: inline-block;
    height:26px;
    line-height: 24px;
    position:relative;
    font-size: 12px;
	}	
.tags li{
	margin-left:5px;
	padding:0 10px 0 22px;
	background:#154470;
	color:#fff;
	text-decoration:none;
	border-radius: 6px;
	}	
.tags li:after{
	content:"";
	position:absolute;
	top:11px;
	left:10px;
	width:5px;
	height:5px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #0D2943;
	-webkit-box-shadow:-1px -1px 2px #0D2943;
	box-shadow:-1px -1px 2px #0D2943;
}	
	
/* Toggle button */

.toggle-button { 
    margin: 5px 0; 
    border-radius: 20px; 
    border: 1px solid #D0D0D0; 
    height: 20px; 
    cursor: pointer; 
    width: 40px; 
    position: relative; 
    display: inline-block; 
    user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    -moz-user-select: none;
    background-color: white;
}
    
.toggle-button-selected { background-color: #83B152; border: 1px solid #7DA652; }

.toggle-button span { position: absolute; left: 1px; top: 1px; border-radius: 100%; width: 16px; height: 16px; background-color: #D0D0D0; float: left; transition: left 0.3s; }

.toggle-button-selected span { left: 21px; box-shadow: 0 0 4px rgba(0,0,0,0.1); background-color: white; }

a.button {
    cursor: pointer;
    text-decoration: none;
    padding: 5px 10px;
    text-align: center;
    color: white;
    background-color: #154470;
    border-radius: 6px
}

a.button:hover{background:#0D2943;}	

