@font-face {
    font-family: "InterRegular";
    src: url("../fonts/Inter-Regular.woff") format("woff");
   }

* {
    box-sizing: border-box;
}

body {
    font-family: "InterRegular";
    font-size:14px;
}









